body {background-image: url(../images/WheatField.jpg);
}

header {padding: 10px 0 80px 10px;
}

h1 {font-family: 'Noto Sans', sans-serif;
	font-size: 35px;
	font-weight: bolder;
	line-height: 40px;
}

section {font-size: 20px;
	line-height: 100px;
	padding: 10px 0 223px 10px;
}

p {font-family: 'Noto Sans', sans-serif;
}

footer {font-family: 'Noto Sans', sans-serif;
	position: fixed;
	bottom: 0;
	font-size: 13px;
	width: 400px;
	padding-left: 10px;
}

.container {height: 100%;
	width: 400px;
	position: static;
	background: rgba(255, 255, 255, 0.5);
}

#instructions {position: absolute;
	font-size: 15px;
	line-height: 20px; 
	padding-top: 150px;
}